/*-------------------------LeftSide------------------------------------------*/

QPushButton {
    border: 2px solid #8f8f91;
    border-radius: 6px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #000000, stop: 1 #333333);
    color: white;
    min-width: 80px;
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #dadbde, stop: 1 #f6f7fa);
}

QPushButton:checked {
    border: none;
}

QPushButton:default {
    border-color: navy;
}

LeftSideMenu {
    background-color:#111111;
}

/*-------------------------UpSide--------------------------------------------*/

QPushButton {
    border: 2px solid #8f8f91;
    border-radius: 6px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #000000, stop: 1 #333333);
    color: white;
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #dadbde, stop: 1 #f6f7fa);
}

QPushButton:checked {
    border: none;
}

QPushButton:default {
    border-color: navy;
}

UpWidget {
    background-color:#111111;
    color: #ffffff;
}

QLabel {
    background-color:#111111;
    color: #ffffff;
}

/*-------------------------RightSide-----------------------------------------*/

QPushButton {
    border: 2px solid #8f8f91;
    border-radius: 6px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #000000, stop: 1 #333333);
    color: white;
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #dadbde, stop: 1 #f6f7fa);
}

QPushButton:checked {
    border: none;
}

QPushButton:default {
    border-color: navy;
}

RightWidget {
    background-color:#111111;
    color: #ffffff;
}

QLabel {
    background-color:#111111;
    color: #ffffff;
}

/*---------------------------------------------------------------------------*/
