/*-------------------------LeftSide------------------------------------------*/

QPushButton {
    border: 2px solid forestGreen;
    border-radius: 2px;
    background-color: green;
    color: white;
    min-width: 80px;
}

QPushButton:pressed {
    background-color: green;
    color: white;
}

QPushButton:checked {
    background-color: #004400;
    border: none;
}

QPushButton:default {
    border-color: navy;
}

LeftSideMenu {
    background-color: darkgreen;
    color: white;
}

QLabel {
    background-color: darkgreen;
    color: white;
}

/*-------------------------UpSide--------------------------------------------*/

QPushButton {
    border: 2px solid #8f8f91;
    border-radius: 6px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #004000, stop: 1 #333333);
    color: white;
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #004000, stop: 1 #f6f7fa);
}

QPushButton:checked {
    border: none;
}

QPushButton:default {
    border-color: navy;
}

UpWidget {
    background-color:#006400;
    color: white;
}

QLabel {
    background-color:#006400;
    color: white;
}

/*-------------------------RightSide-----------------------------------------*/

QPushButton {
    border: 2px solid darkgreen;
    border-radius: 6px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #006400, stop: 1 #00aa00);
    color: white;
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #dadbde, stop: 1 #f6f7fa);
}

QPushButton:checked {
    border: none;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #004400, stop: 1 #002200);
}

QPushButton:default {
    border-color: #006400;
}

RightWidget {
    background-color:#002200;
    color: white;
}

QLabel {
    background-color:#004400;
    color: white;
}

QFrame {
    background-color:#002200;
    color: white;
}

StickLabel {
    background-color:#004400;
}

QTabWidget::pane {
    border-top: 2px solid #C2C7CB;
}

QTabBar::tab-bar {
    left: 5px;
}

QTabWidget::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-bottom-color: #C2C7CB;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: #fafafa);
}

QTabBar::tab:selected {
    border-color: #000000;
    border-bottom-color: #C2C7CB;
}

QTabBar::tab:!selected {
    margin-top: 2px;
}

/*---------------------------------------------------------------------------*/
